body {
  background-color: brown;
  margin: 50px;
}

/* --------------------------------------------------- */

li {
  border: solid 2px darkorange;
  cursor: pointer;
  display: block;
  font-size: 9px;

}

li:hover {
  background-color: darkseagreen;
}

li span {
  pointer-events: none;
}
li img {
  pointer-events: none;
  width: 50px;
}

/* --------------------------------------------------- */

.user-details {
    border: solid 2px rebeccapurple;
    background-color: rosybrown;
    font-size: 9px;
}

.user-activites {
    border: solid 2px rebeccapurple;
    background-color: lightcoral;
    font-size: 9px;
}

